<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="dbd6a35b-ee07-4c44-b359-c82c9958010b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-07-19T21:11:01" updateDate="2018-07-23T22:01:30" nodeName="Jax" urlName="jax" path="-1,1055" isDoc="" nodeType="1053" creatorName="Jacquie Steele" writerName="Jacquie Steele" writerID="0" template="1052" nodeTypeAlias="home" isPublished="true">
    <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "config": {},
              "styles": {
                "background-image": "url(/media/1002/img_20170714_220341_314.jpg)"
              },
              "hasConfig": true,
              "controls": [
                {
                  "value": "Hello World",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Hello there, my name is Jax and this is my first real-world website!</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "f3f14d88-feca-9cb2-08d4-d9f9c1a6ada0",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></content>
  </home>
</root>