@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<footer class="footer">
    <div class="footer__items">
        <div class="footer__social">
            <a>

            </a>
            <a>

            </a>
            <a>

            </a>
        </div>
    </div>
</footer>