@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<footer class="footer">
    <div class="footer__items">
        <div class="footer__social">
            <a href="//twitter.com/HolaJacquie">
                <svg alt="Twitter" class="footer--social-buttons" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                <path class="cls-1" d="M150 0a150 150 0 1 0 150 150A150 150 0 0 0 150 0zm79.52 109.21q.12 2.64.12 5.31c0 54.22-41.27 116.75-116.74 116.75A116.17 116.17 0 0 1 50 212.83a83.29 83.29 0 0 0 9.79.58 82.33 82.33 0 0 0 51-17.57 41.06 41.06 0 0 1-38.33-28.5 41 41 0 0 0 18.53-.7A41.06 41.06 0 0 1 58 126.41v-.52A40.86 40.86 0 0 0 76.62 131a41.07 41.07 0 0 1-12.69-54.76 116.49 116.49 0 0 0 84.57 42.88 41.06 41.06 0 0 1 69.92-37.43 82.16 82.16 0 0 0 26.05-10 41 41 0 0 1-18 22.7A81.8 81.8 0 0 0 250 88a83.22 83.22 0 0 1-20.48 21.21z" />
                </svg>
            </a>
            <a href="//github.com/Schteele">
                <svg alt="GitHub" class="footer--social-buttons" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                <path class="cls-1" d="M279.88 76.58a151.26 151.26 0 0 0-54.59-56A143.93 143.93 0 0 0 150 0a144 144 0 0 0-75.29 20.62 151.19 151.19 0 0 0-54.59 56Q0 111.92 0 153.76 0 204 28.61 244.15t73.93 55.56c3.51.66 6.12.19 7.81-1.4a8 8 0 0 0 2.54-6c0-.4 0-4-.1-10.81s-.1-12.75-.1-17.81l-4.49.79a55.39 55.39 0 0 1-10.84.7 80.59 80.59 0 0 1-13.58-1.4 29.89 29.89 0 0 1-13.08-6 25.34 25.34 0 0 1-8.59-12.31l-2-4.61A50.24 50.24 0 0 0 54 230.64Q49.8 225 45.51 223l-1.37-1a14.68 14.68 0 0 1-2.54-2.4 11.13 11.13 0 0 1-1.76-2.81c-.39-.93-.06-1.7 1-2.3s2.93-.9 5.66-.9l3.91.6c2.6.54 5.82 2.13 9.67 4.81a32 32 0 0 1 9.47 10.4A34.86 34.86 0 0 0 80.37 242a22.6 22.6 0 0 0 12.79 4.3 53.7 53.7 0 0 0 11.13-1 38.13 38.13 0 0 0 8.79-3q1.76-13.42 9.57-20.62a131 131 0 0 1-20-3.61 78.55 78.55 0 0 1-18.36-7.81 53 53 0 0 1-15.74-13.46q-6.26-8-10.25-21t-4-30q0-24.23 15.43-41.24-7.22-18.21 1.37-40.84 5.67-1.8 16.8 2.7a117.88 117.88 0 0 1 16.31 7.71q5.17 3.2 8.3 5.41a137.56 137.56 0 0 1 75 0l7.42-4.81a104.5 104.5 0 0 1 18-8.81q10.35-4 15.82-2.2 8.79 22.62 1.56 40.84 15.43 17 15.43 41.25a103.67 103.67 0 0 1-4 30.13q-4 13.11-10.35 21a54.92 54.92 0 0 1-15.82 13.31 78.55 78.55 0 0 1-18.4 7.75 131 131 0 0 1-20 3.61q10.15 9 10.15 28.43v42.26a8.07 8.07 0 0 0 2.45 6q2.44 2.4 7.71 1.4 45.31-15.42 73.93-55.56T300 153.75q0-41.83-20.12-77.17z" />
                </svg>
            </a>
            <a href="//www.instagram.com/larkadventures_">
                <svg alt="Instagram" class="footer--social-buttons" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 298 298">
                <path class="cls-1" d="M148.63 115.35a34.28 34.28 0 1 0 34.27 34.28 34.32 34.32 0 0 0-34.27-34.28z" transform="translate(-1 -1)" /><path class="cls-1" d="M194.08 66.19h-90.91a38 38 0 0 0-38 38v90.91a38 38 0 0 0 38 38h90.91a38 38 0 0 0 38-38v-90.93a38 38 0 0 0-38-37.98zM148.63 201.9a52.28 52.28 0 1 1 52.27-52.27 52.33 52.33 0 0 1-52.27 52.27zm63.8-97.27a13.23 13.23 0 1 1 3.86-9.34 13.37 13.37 0 0 1-3.86 9.34z" transform="translate(-1 -1)" /><path class="cls-1" d="M150 1C67.84 1 1 67.84 1 150s66.84 149 149 149 149-66.84 149-149S232.16 1 150 1zm100.06 194.08a56 56 0 0 1-56 56h-90.89a56 56 0 0 1-56-56v-90.91a56 56 0 0 1 56-56h90.91a56 56 0 0 1 56 56z" transform="translate(-1 -1)" />
                </svg>
            </a>
        </div>
    </div>
</footer>