@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<IBase>

<title>@Model.Content.SEometaData.Title</title>
<meta name="description" content="@Model.Content.SEometaData.Description">
@*<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@HolaJacquie">
<meta name="twitter:creator" content="@HolaJacquie">
<meta name="twitter:url" property="og:url" content="https://twitter.com/HolaJacquie">
<meta name="twitter:title" property="og:title" content="Jax | HolaJacquie">
<meta name="twitter:description" property="og:description" content="Junior Developer | #100DaysOfCode #womenwhocode">
<meta name="twitter:image" property="og:image" content="https://pbs.twimg.com/profile_images/1015304194297942016/bNTj1Qtn_400x400.jpg">*@