$brand-primary:         #252A2D;
$primary:               $brand-primary;
$brand-secondary:       #C5795B;
$secondary:             $brand-secondary;
$brand-success:         #5CB85C;
$brand-info:            #5BC0DE;
$brand-warning:         #F0AD4E;
$brand-danger:          #F44;
$dark-bg:               #000;
$body-bg:               #fff;
$text-color:            #444;
$link-color:            $brand-primary;
$nav-font:              #fff;
$link-hover-color:      lighten($link-color, 15%);
$brand-subtle:			#95A5A6;

$image-url: '/a/dist/img';

@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';