@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<div class="hero">
    <img class="hero__overlay" src="@Url.GetCropUrl(Model.Content, "heroImage", "XL Desktop")" />
</div>
@RenderBody()


