@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<section class="hero">
    <img class="hero__image" src="@Url.GetCropUrl(Model.Content, "heroImage", "XL Desktop")" />
    <div class="hero__overlay" ></div>
</section>
@RenderBody()


